venv/
backend/alembic
backend/.env
*.db
*.sql
*.pyc
__pycache__/
.DS_Store
node_modules/
.vscode/
frontend/frontend/.next/
frontend/frontend/.env
backend/test.db
schema.sql

# AWS SAM build artifacts
.aws-sam/
backend/.aws-sam/

videos/
*.mp4


# Logs
*.log

# Environment files
.env
.env.local
.env.production