@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400&family=Figtree:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.floriankarsten.com/fk-grotesk-neue');
@font-face {
  font-family: "Micro Technic Extended Outline Bold";
  src: url("fonts/Micro\ Technic\ Extended\ Outline\ Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Condensed Bold";
  src: url("fonts/Helvetica\ Neue\ Condensed\ Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Condensed Regular";
  src: url("fonts/Helvetica\ Condensed\ Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial Narrow Bold";
  src: url("fonts/Arial\ Narrow\ Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("fonts/Arial\ Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neue Helvetica Condensed BQ Regular";
  src: url("fonts/Neue\ Helvetica\ Condensed\ BQ\ Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/static/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/static/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Syriac Western";
  src: url("fonts/Noto_Sans_Syriac_Western/static/NotoSansSyriacWestern-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Syriac Western";
  src: url("fonts/Noto_Sans_Syriac_Western/static/NotoSansSyriacWestern-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Syriac Western";
  src: url("fonts/Noto_Sans_Syriac_Western/static/NotoSansSyriacWestern-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Syriac Western";
  src: url("fonts/Noto_Sans_Syriac_Western/static/NotoSansSyriacWestern-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Syriac Western";
  src: url("fonts/Noto_Sans_Syriac_Western/static/NotoSansSyriacWestern-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Syriac Western";
  src: url("fonts/Noto_Sans_Syriac_Western/static/NotoSansSyriacWestern-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FK Grotesk Neue";
  src: url("fonts/FK Grotesk Neue Trial/FKGroteskNeueTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FK Grotesk Neue";
  src: url("fonts/FK Grotesk Neue Trial/FKGroteskNeueTrial-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FK Grotesk Neue";
  src: url("fonts/FK Grotesk Neue Trial/FKGroteskNeueTrial-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Neue Helvetica Condensed BQ Regular", sans-serif;
  margin: 0 auto;
  width: min(90em, 100%);
}

header {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0;
  font-family: "Arial Narrow Bold", sans-serif;
}

.logo-link {
  display: flex;
  font-family: "Micro Technic Extended Outline Bold", sans-serif;
  justify-content: center;
  gap: 0.2em;
  text-decoration: none;
  color: white;
}

.logo-link h1 {
  font-size: 2.4em;
  font-weight: 300;
}

.logo {
  width: 2em;   /* control image size here */
  height: auto;  /* keeps aspect ratio */
  object-fit: contain;
}


/* nav */
.nav-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 1em;
  font-weight: 500;
  list-style: none;
  font-family: "Space Grotesk", sans-serif;
}

/* buttons */
.standard-button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.6em 1em;
  font-weight: 500;
  transition: all 0.2s ease;   /* smooth hover */
}

.standard-button:hover {
  color: black;
  background-color: white;
}

.standard-button:active {
  opacity: 0.7;
}

.hero-container {
  width: calc(100% - 2em);
  margin: 0 1em;
  aspect-ratio: 1.618;
  position: relative;
  overflow: hidden;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

hr, .internal-break {
  border: none;
  height: 1px;
  margin: 1em 0;
}

hr { 
  background: white; 
  margin: 1em;
}
.internal-break { 
  background: gray; 
}

.company, .team {
  display: grid;
  grid-template-columns: 1fr 1fr; /* always single column */
  row-gap: 1em;               /* spacing between h4 and text */
  margin: 1em;
  margin-bottom: 2em;
}

.company h2,
.company-description h2,
.company-description p {
  color: white;
  font-size: 1.6em;
  font-family: "Neue Helvetica Condensed BQ Regular", sans-serif;
}

.company-description h2 {
  font-weight: 200;
  font-size: 1.6em;
  font-family: "Neue Helvetica Condensed BQ Regular", sans-serif;
}

.indented-list, .process-steps {
  color: white;
  font-weight: 200;
  margin-left: max(5em, 10%);
  font-size: 24px;
}

.team h2, .team-description a {
  color: white;
  font-size: 1.6em;
  font-family: "Neue Helvetica Condensed BQ Regular", sans-serif;
}

.team-description a {
  text-decoration: none;
  font-weight: 200;
  transition: all 0.2s ease;
  font-size: 1.0em;
  font-family: "Neue Helvetica Condensed BQ Regular", sans-serif;
}

.team-description a:hover {
  color: gray;
}

.team-description a:active {
  opacity: 0.7;
}

footer {
  text-align: center;
  margin: 0 1em;
  padding-bottom: 1em;
}

footer p {
  color: gray;
  padding-bottom: 0.5em;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.footer-links {
  color: white;
}

.footer-links a:hover {
  color: gray;
}

.footer-links a:active {
  opacity: 0.7;
}

/* bottom-left tagline */
.video-overlay {
  position: absolute;
  bottom: 0.8em;
  left: 1em;
  color: #ffffff;
  font-family: "FK Grotesk Neue", "Inter", "Helvetica Neue", sans-serif;
  font-size: 1.9em;
  font-weight: 400;       /* same thickness as screenshot */
  letter-spacing: -0.01em; /* decreased spacing */
  word-spacing: -0.1em; /* decreased word spacing */
  line-height: 1.3;
  z-index: 2;
}

.action-link {
  display: block;
  color: #ffffff;
  font-family: "FK Grotesk Neue", "Inter", "Helvetica Neue", sans-serif;
  font-size: 0.6em; /* smaller than main text */
  font-weight: 400;
  letter-spacing: -0.01em;
  word-spacing: -0.1em;
  text-decoration: underline;
  margin-top: 0.09em;
}

.social-icons {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  display: flex;
  gap: 1em;
  z-index: 2;
}


.social-icons a {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border: 3px solid black;
  text-decoration: none;
  transition: all 0.2s ease;
  box-shadow: 5px 5px 0 black;
  font-size: 1.1em;
  border-radius: 0;
}

.social-icons a:hover {
  background: black;
  color: white;
  box-shadow: none;
  transform: translate(5px, 5px);
}

.mobile-break {
  display: none;
}

@media (max-width: 900px) {
  .mobile-break {
    display: inline;
  }
}

@media (max-width: 768px) {
  .social-icons {
    top: 1.5em;
    bottom: auto;
    right: 1em;
  }
  
  
  .company, .team {
    grid-template-columns: 1fr;
    text-align: left;
  }
  
  .company h2, .team h2 {
    margin-bottom: 0.5em;
  }
  
  .video-overlay {
    font-size: 2.2em;
    font-weight: 100;
  }
  
  .mobile-break {
    display: inline;
  }
}